/* 스크롤 디자인 변경 */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 20px;
  box-shadow: inset -2px -2px 7px rgba(110, 110, 110, 0.822);
}

body::-webkit-scrollbar-track {
  background-color: #ededee;
  border-radius: 20px;
}

.edit-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.edit-user-form-box {
  width: 30rem;
}

.edit-user-form-box .title {
  text-align: center;
}

.edit-user-form-box .button {
  font-weight: bold;
}

.edit-user-form-box .input:focus {
  border-color: #383E56;
}

#postColumn {
  margin-bottom: 8px;
}