<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쇼핑-1팀</title>
  <link rel="stylesheet" href="icon.css">
  <!-- bulma css -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- 폰트 어썸: 아이콘 -->
  <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
  ></script>
</head>
<body>
  <!-- 색상 코드 -->
  

  <!-- 버튼 -->
  <button class="button is-dark">텍스트 삽입</button>

  <!-- 텍스트 두꺼운 버튼 -->
  <button class="button is-dark"><strong>텍스트 삽입</strong></button>

  <!-- 아이콘 추가한 버튼 -->
  <!-- 본인이 원하는 아이콘을 클래스에 삽입하면 됩니다. -->
  <button class="button is-dark">
    <span class="icon">
      <i class="fa-solid fa-trash"></i>
    </span>
    <span>텍스트 삽입</span>
  </button>

  <br><br>

  <!-- 플러스 -->
  <i class="fa-solid fa-plus"></i>
  
  <!-- 마이너스 -->
  <i class="fa-solid fa-minus"></i>

  <!-- 엑스 -->
  <i class="fa-solid fa-xmark"></i>

  <!-- 느낌표 -->
  <i class="fa-solid fa-exclamation"></i>

  <!-- 화살표(위) -->
  <i class="fa-solid fa-angle-up"></i>

  <!-- 화살표(아래) -->
  <i class="fa-solid fa-angle-down"></i>

  <!-- 화살표(왼) -->
  <i class="fa-solid fa-angle-left"></i>

  <!-- 화살표(우) -->
  <i class="fa-solid fa-angle-right"></i>

  <!-- 메뉴(햄버거) -->
  <i class="fa-solid fa-bars"></i>

  <!-- 돋보기 -->
  <i class="fa-solid fa-magnifying-glass"></i>

  <!-- 쇼핑카트 -->
  <i class="fa-solid fa-cart-shopping"></i>

  <!-- 신용카드 -->
  <i class="fa-solid fa-credit-card"></i>

  <!-- 돈(원화 모양) -->
  <i class="fa-solid fa-won-sign"></i>

  <!-- 돈(코인 모양) -->
  <i class="fa-solid fa-coins"></i>

  <!-- 휴지통 -->
  <i class="fa-solid fa-trash"></i>

  <!-- 연필(수정 사항) -->
  <i class="fa-solid fa-pencil"></i>

  <!-- 사람(유저) -->
  <i class="fa-solid fa-user"></i>

  <!-- 환경설정 -->
  <i class="fa-solid fa-gear"></i>






  <!-- bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>